@use 'vars' as v;
@use 'mixins' as m;


.footer {
   padding: 0 0 1rem 0;
}

.footer-wrapper {
   @include m.d-flex($justify: space-between, $align: center, $wrap: nowrap);

   @media (max-width: v.$media_md) {
      @include m.d-flex($justify: center, $align: center, $wrap: wrap, $direction: column-reverse, $row-gap: 30px);
   }
}

.footer__copyright {
   text-transform: uppercase;

   &-text {
   font-size: 18px;
   color: v.$black-color;
   }

   @media (max-width: v.$media_md) {
      @include m.d-flex($justify: center, $align: center, $direction: column);

   }
}



.footer__policy {
   @include m.d-flex($justify: unset, $align: center, $wrap: nowrap);
   

   &-item {
      font-size: 16px;
      line-height: 1.4;
      color: v.$black-color;
   }

   &-item:nth-child(1) {
      &::after {
         content: '/';
         padding: 0 5px;

         @media (max-width: v.$media_lg) {
            content: "";
         }
      }
   }

   @media (max-width: v.$media_lg) {
      @include m.d-flex($justify: center, $align: center, $wrap: wrap, $direction: column);
   }
}

.footer__social {
   @include m.d-flex($justify: unset, $align: center, $wrap: nowrap, $direction: row, $column-gap: 40px, $row-gap: 0);
   text-transform: uppercase;
   

   &-item {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      color: v.$black-color;
   }
}



