@use 'vars' as v;
@use 'mixins' as m;

.section-accordion {
   padding: 0 0 120px 0;

   @media (max-width: v.$media_md) {
      padding: 0 0 80px 0;
   }

   @media (max-width: v.$media_sm) {
      padding: 0 0 50px 0;
   }
}

.accordion__container {
  @include m.d-flex($justify: space-between, $align: unset);

  @media (max-width: v.$media_xl) {
      max-width: 100%;
      flex-direction: column;
  }
}

.accordion__title {
   font-size: 48px;
   max-width: 420px;
   font-weight: 400;
   width: 100%;

   @media (max-width: v.$media_sm) {
      font-size: 28px;
      margin-bottom: 20px;
   }
}

.accordion__inner {
   margin-top: 15px;
}

.accordion__subtitle {
   font-size: 16px;
   margin-bottom: 44px;
   max-width: 325px;
   font-weight: 400;

   @media (max-width: v.$media_sm) {
      margin-bottom: 28px;
   }
}

.accordion__block .accordion__item:first-child {
   padding-top: 0;
   padding-bottom: 10px;

   span {
      display: inline-block;
      width: 265px;
   }

}

.accordion__block .accordion__item:nth-child(4),
.accordion__block .accordion__item:nth-child(5) {
   padding-bottom: 10px;

}

.accordion__item {
   border-bottom: 1px solid #000;
   padding: 36px 0 24px 0;
   width: 676px;

   @media (max-width: v.$media_xl) {
      width: 100%;
      padding: 30px 0 10px 0;
   }
}


.accordion__trigger {
   @include m.d-flex($justify: space-between, $align: unset);
   cursor: pointer;
   height: 134px; 

   @media (max-width: v.$media_xl) {
      @include m.d-flex($justify: unset, $align: unset, $wrap: nowrap, $direction: column, $column-gap: 200px, $row-gap: 20px);
      height: unset;
   }
}

.accordion__trigger:first-child {
   @media (max-width: v.$media_xl) {

   }
}

.accordion__trigger--title {
   font-size: 36px;
   flex-basis: 328px;
   font-weight: 400;

   @media (max-width: v.$media_xl) {
      flex-basis: 0;
   }

   @media (max-width: v.$media_sm) {
      font-size: 28px;
   }
}

.accordion__content {
   display: none;

    @media (max-width: v.$media_xl) {
      display: block;
   }
    
}

.accordion__item--active .accordion__content{
   display: block;
}

.accordion__content--text {
   font-size: 16px;
   font-weight: 400;
   max-width: 329px;

   @media (max-width: v.$media_xl) {
      max-width: 100%;
   }
}


