@use 'vars' as v;

* {
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   line-height: 1.4;
   font-weight: 400;
   margin: 0;
   color: v.$black-color;
}

.container {
      max-width: 1406px;
      padding: 0 15px;
      margin: 0 auto;
}
   

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
button,
figure {
   margin: 0;
   padding: 0;
}

button,
input {
   background: none;
   outline: none;
   border: none;
   background: none;
   cursor: pointer;
}

li {
   list-style: none;
}


a {
   color: unset;
   text-decoration: none;
   cursor: pointer;
}

.none {
   display: none;
}