@use 'vars' as v;
@use 'mixins' as m;

.contacts {
   padding: 0 0 120px 0;

   @media (max-width: v.$media_xl) {
      padding: 0 0 50px 0;
   }
}

.contacts-wrapper {
   display: grid;
   grid-template-columns: repeat(18, 1fr);
}

.contacts__img {
   grid-column: 7 span;
   display: block;
   max-width: 562px;
   height: 566px;
   object-fit: contain;

   @media (max-width: v.$media_xl) {
      display: none;
   }
}
.contacts__desc {
   grid-column-start: 10;
   grid-column-end: 18;

   @media (max-width: v.$media_xl) {
      grid-column-end: 23;
      grid-column-start: 1;
   }
}
.contacts__desc-top {
   margin-bottom: 2rem;
}
.contacts__title {
   font-weight: 400;
   font-size: 48px;
   color: v.$black-color;
   margin-bottom: 1.75rem;

   @media (max-width: v.$media_sm) {
      font-size: 28px;
      margin-bottom: 1rem;
   }
}
.contacts__text {
   font-weight: 400;
   line-height: 1.4;
   color: v.$black-color;
}


.download {
   display: flex;
   gap: 10px;
   align-items: center;
}
