@use 'vars' as v;
@use 'mixins' as m;

.contacts {
   padding: 0 0 120px 0;

   @media (max-width: v.$media_xl) {
      padding: 0 0 50px 0;
   }
}

.contacts-wrapper {
   display: grid;
   grid-template-columns: repeat(18, 1fr);
}

.contacts__img {
   grid-column: 7 span;
   display: block;
   max-width: 562px;
   height: 566px;
   object-fit: contain;

   @media (max-width: v.$media_xl) {
      display: none;
   }
}
.contacts__desc {
   grid-column-start: 10;
   grid-column-end: 18;

   @media (max-width: v.$media_xl) {
      grid-column-end: 23;
      grid-column-start: 1;
   }
}
.contacts__desc-top {
   margin-bottom: 2rem;
}
.contacts__title {
   font-weight: 400;
   font-size: 48px;
   color: v.$black-color;
   margin-bottom: 1.75rem;

   @media (max-width: v.$media_sm) {
      font-size: 28px;
      margin-bottom: 1rem;
   }
}
.contacts__text {
   font-weight: 400;
   line-height: 1.4;
   color: v.$black-color;
}
.form {
   margin-bottom: 1.75rem;
}

.form-group {
   margin-bottom: 1rem;
   position: relative;
   transition: 0.1s;
}
.form-input {
   padding-left: 5rem;
   padding-top: 0.313rem;
    padding-bottom: 0.75rem;
    width: 100%;
    display: block;
    transition: 0.3s;
    background: #ffffff;
    border-bottom: 1px solid v.$black-color;

    &:focus {
      border-bottom: 1px solid v.$yellow-color;
    }
}
.form-label {
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   transition: 0.3s;
}

.btn-from {
   padding: 12px 20px;
   max-width: 176px;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.4;
   letter-spacing: 0.6px;
   text-align: center;
   color: #fff;
   background:  v.$black-color;
   transition: ease-in .3s;
   
   &:hover {
      background:  v.$accent-color;
      color:  v.$black-color;
   }
}

.download {
   display: flex;
   gap: 10px;
   align-items: center;
}
