@use 'vars' as v;
@use 'mixins' as m;

.section-projects {
   padding: 0 0 120px 0;
}


.projects__title {
   font-weight: 400;
   font-size: 48px;
   color: v.$black-color;
   margin: 0 0 33px 0;

   @media (max-width: v.$media_sm) {
      font-size: 28px;
   }
}

.projects__cards-wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
   gap: 20px;
   
   
   @media (max-width: v.$media_xl) {
      grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
   }

   @media (max-width: v.$media_md) {
      @include m.d-flex($justify: center, $align: stretch, $wrap: nowrap, $direction: row, $column-gap: 0, $row-gap: 0);
      gap: 1.25rem;
      overflow-x: auto;
      scroll-padding: 1.25rem;
      scroll-snap-type: x mandatory;
      
   }
}

