$black-color: #212529;
$accent-color: #a5a08a;
$red-color: #E13A3A;
$yellow-color: #F9C67B;

$media_xxl: 1440px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;


